<div class="container">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h2 class="text-center topic">We are DrDr:</h2>
            <h4 class="text-center">We are Drdr and we are bringing the 21st century to healthcare. Specializing in app-based solutions, we offer ways to enhance day-to-day health care to keep you in tip-top shape. Drdr is committed to changing the world of high-cost and low-satisfaction healthcare, at Drdr we are bringing the doctor to you.</h4>
        </div>
        <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
    </div>
</div>