<div class="container">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h2 class="text-center topic">We are DrDr:</h2>
            <h4 class="text-center">At DrDr we provide innovative solutions to the patients
            of health care. Specializing in app based soluions, we provide quality health care support
            when you need it. Lorem Ipsum.... <br><br> Maybe this can be a bullet list?</h4>
        </div>
        <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
    </div>
</div>