<div class="container">
    <div class="row">
        <h2 class="text-center topic">Solutions:</h2>
    </div>


    <div class="panel panel-body panel-default">
        <h3 class="appTitle text-center">rx Remind</h3>
        <h4 class="appSubTitle text-center"></h4>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a ui-sref="rxRemind" class="thumbnail">
                    <img src="/img/rxRemindLogo.jpg" alt="Prescription Text Reminders">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <div class="row">
                    <h4 class="text-center appDescription">
                        Not taking your drugs at the right time is bad.
                        rx Remind is good. Have texts send straight to your phone to remind you to take your
                        medicine.
                    </h4>
                </div>
                <div class="row">
                    <a ui-sref="rxRemind" class="btn btn-default btn-drdr btn-block"><h4 class="btn-text">Prescription Text Reminders</h4></a>
                </div>
            </div>
        </div>
    </div>
</div>